@import "./header.css";
@import "./hero.css";

:root {
  --Blue: hsl(229, 31%, 21%);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--Blue);
  margin: 0;
  font-size: 18px;
}

.u-wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 1em;
}

.u-h1 {
  font-size: 2em;
  font-weight: 400;
}

.u-p {
  color: hsl(229, 8%, 60%);
  line-height: 1.8;
}

.u-button {
  background-color: hsl(231, 69%, 60%);
  color: white;
  padding: 1em 1em;
  font-size: 0.9em;
  font-weight: 500;
  border-radius: 0.5em;
  margin-left: 0.5em;
  border: none;
}

.u-button:first-of-type {
  margin: 0;
}

.u-button:last-of-type {
  color: hsl(229, 8%, 60%);
  background: #f7f7f7;
}

.diamante {
  border-style: solid;
  border-color: transparent transparent red transparent;
  border-width: 0 25px 25px 25px;
  height: 0px;
  width: 50px;
  margin: auto;
  position: relative;
}

.diamante::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: red transparent red transparent;
  border-width: 50px 50px 0px 50px;
  right: 0;
  width: 0;
  top: 25px;
  left: -25px;
  height: 0;
}
