{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/ef746928d3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row align-items-center row-style">
      <div class="col-12 col-md-6 col-lg-5 col-xl-4 pb-4 col-style ">
        <div class="card card-style">
          <div  class="card-body">
            <h5 class="card-title card-title-style">Iniciar Sesión</h5>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control form-style" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control form-style" id="exampleInputPassword1">
              </div>
              <button type="submit" class="btn btn-primary btn-block card-btn">Iniciar</button>
            </form>
          </div>
        </div>
        </p>
      </div>
    </div>
  </div>
</body>
</html>