{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/ef746928d3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/rodolfo.css' %}"/>
  <title>Document</title>
</head>
<body>
<!--   <nav class="navbar navbar-expand-lg navbar-light bg-light header">
    <a class="navbar-brand" href="#">Navbar</a>
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn header-btn" type="submit">Iniciar Sesión</button>
      </form>
    </div>
  </nav> -->
  <nav class="navbar navbar-light bg-light header">
    <a class="navbar-brand">Prototipo Memoria <i class="fas fa-wave-square icon-color"></i></a>
    <form class="form-inline">
      <button class="btn btn-outline-success my-2 my-sm-0 header-btn" type="submit">Iniciar Sesión <i class="far fa-user user"></i></button>
    </form>
  </nav>
  <div class="container pt-5">
    <div class="row">
      <div class="col-3 col-12 col-md-12 col-lg-6 col-xl-4 pb-4">
        <div class="card card-style overflow-auto" style="max-height: 525px;">
          <div  class="card-body">
            <h5 class="card-title">Lista de estaciones</h5>
            <div class="overflow-auto">
              <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae eaque amet sequi rem sunt ab repellendus! Voluptatibus excepturi dignissimos itaque esse quos facere alias ad vitae sapiente? Iste, voluptate natus.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, magni in, quis ipsam fugiat a illo expedita deserunt, aliquam sunt voluptates qui nesciunt dignissimos consequatur aperiam labore nemo doloremque pariatur.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab maxime incidunt, neque, dicta aliquid vel sequi omnis illum eum voluptatum, iusto enim corporis unde facilis ea culpa! Est, commodi eveniet.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab eveniet voluptate doloremque voluptas dolores possimus ipsum reiciendis velit at, nulla cupiditate quidem iure culpa. Architecto fuga praesentium magnam quam molestias.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 col-12 col-md-12 col-lg-6 col-xl-4 pb-4">
        <div class="card card-style">
          <div  class="card-body">
            <h5 class="card-title">Mapa</h5>
            <div class="row">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2225.4841644511466!2d-70.12976031916013!3d-20.266990412008028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2scl!4v1595897779656!5m2!1ses!2scl" width="1000" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 col-12 col-md-12 col-lg-12 col-xl-4 pb-4">
        <div class="card card-style">
          <div  class="card-body">
            <h5 class="card-title">Datos estación seleccionada</h5>
            <div class="row">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2225.4841644511466!2d-70.12976031916013!3d-20.266990412008028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2scl!4v1595897779656!5m2!1ses!2scl" width="1000" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 col-12 col-md-12 col-lg-12 col-xl-8 pb-4">
        <div class="card card-style">
          <div  class="card-body">
            <h5 class="card-title">Serie temporal estación</h5>
            <div class="row">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2225.4841644511466!2d-70.12976031916013!3d-20.266990412008028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2scl!4v1595897779656!5m2!1ses!2scl" width="1000" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 col-12 col-md-12 col-lg-12 col-xl-4 pb-4">
        <div class="card card-style">
          <div  class="card-body">
            <h5 class="card-title">Indicador seleccionado</h5>
            <div class="row">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2225.4841644511466!2d-70.12976031916013!3d-20.266990412008028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2scl!4v1595897779656!5m2!1ses!2scl" width="1000" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>