.custom-file {
  background: url("../images/CargaExcel.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.fondaCargaExcel {
  background: url("../images/undraw_add_files_re_v09g.svg") center center/contain
    no-repeat;
  height: 240px;
  position: relative;
  transition: 0.3s;
}

.fondaCargaExcel:hover {
  transform: scale(1.04);
}

.cardCargaExcel {
  border: 1px solid #efefef !important;
  border-radius: 4px;
  margin-bottom: 48px;
  background-color: #fdfdfd;
}

.btnDocker {
  border: 2px solid #0073ec;
  border-radius: 4px;
  height: 54px;
  min-width: 196px;
  padding: 16px 18px 18px;
  background-color: #0073ec;
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1px;
  margin: 5px;
  font-family: "Manrope", sans-serif !important;
}

.btnDocker:hover {
  border: 2px solid #0162cc;
  background-color: #0162cc;
  color: #ffffff;
  text-decoration: none;
}

.tituloPrincipalExcel {
  color: rgb(36, 30, 18);
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 1.25 !important;
  margin: 0px;
  color: #505050;
  font-family: "Google Sans", sans-serif;
}

.select-excel {
  height: 54px;
  min-width: 196px;
  margin: 5px;
}