body{
  /* background: url(../images/graficos/pixel-bg.svg); */
  /* background: url(../images/graficos/bg-top.svg); */
  background: url(../images/graficos/hero.svg);
  background-size: cover;
  background-color: #212529;
}

.row-style{
  height: 100vh;
}

.col-style{
  margin: auto;
}

.card-style{
  border-radius: 6px!important;
  border: none!important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
}

.card-btn{
  background-color: #24292e!important;
  color:white!important;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  padding: 0.7rem;
  font-size: 1rem;
  transition: .5s;
}

.card-btn:hover{
  filter: brightness(130%);
  transform: translateY(-1px);
}
.card-btn:focus{
  box-shadow: none!important;
  /* box-shadow: 0 16px 8px -16px rgba(0,0,0,.75); */
}

.form-style{
  border-radius: 6px;
}

.form-style:focus{
  border: 1px solid #0093ff!important;
  box-shadow: none!important;
}

.card-title-style{
color: #484848;
}