.iconoFoto{
    font-size: 17px;
}

 .colorMenu{
    background: white!important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.01), inset 0 -1px 0 rgba(0, 0, 0, 0);
 }

.tamanoLogo{
    max-width: 85%!important;
    vertical-align: -1px;
}

.botonBuscar{
    border: 2px solid #ff6f00;
    color: #425066;
    border-radius: 7px;
    /* background: linear-gradient(to right, #ff6f00, #ff9100); */
    font-weight: 500;
}

.botonBuscar:hover{
    border: 2px solid #ff6f00;
    background: #ff6f00;
    color:#ffffff;
    border-radius: 7px;
    /* background: linear-gradient(to right, #ff6f00, #ff9100); */
    font-weight: 500;
}

.botonBuscar2{
    background: linear-gradient(to right, #ff6f00, #ff9100d9);
    color: white;
    border: none;
    /* border: 2px; */
    border-radius: 2px;
}

.buscador:focus {
    color: #ff6f00;
    background-color: #fff;
    border-color: #fbc194;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(255, 111, 0, 0.75);
}

.colorLetraMenu{
    color: #425066!important;
}

.colorLetraMenu:hover{
    color: #ff5300bf!important;
}

.animacionMenu{
    position: relative;
    transition: 0.2s;
}

.animacionMenu:hover{
    position: relative;
    transition: 0.2s;
    border-bottom: 0px solid #ffffff!important;
}

/*
.animacionMenu:hover::before{
    position: absolute;
    content: ""!important;
    border-bottom: 3px solid #46546a!important;
    width: 50%;
    right: 25%;
    bottom: 0;
    transition: 0.5s;
}*/

