body{
    background-color: #f8f9fe;
}

.tituloCard{
    color: #8898aa!important;
    text-transform: uppercase!important;
    font-size: .8125rem;
}

.tituloCard2{
    color: #8898aa!important;
    text-transform: uppercase!important;
    font-size: .8225rem;
    padding-top: 2px;
}

.subTituloCard{
    color: #32325d!important;
    font-weight: 600!important;
}

.pieCard{
    color: #2dce89!important;
}

.pieCardText{
    color: #8898aa!important;
    font-size: .875rem!important;
    font-weight: 300;
}

.fechaHoraCard{
    color: #000000!important;
    font-size: .875rem!important;
    font-weight: 300;
}

.iconoCard{
    border-radius: 50%!important;
    color: white;
    background-color: #f5365c!important;
    font-size: 1.7em;
    padding: 10px;
}

.iconoCard2{
    font-size: 1.3em;
    color: #ff3702db;
}

.iconoCard7{
    color: crimson;
    font-size: 2em;
    padding: 10px;
}

.quitarPaddin{
    padding: 0px;
}

.estiloCard{
    border: 1px solid rgba(0,0,0,.05);
    border-radius: .375rem;
    background-color: #fff;
    background-clip: border-box;
    margin: 0 auto!important;
}

.contenerPrincipal{
    background: linear-gradient(87deg,#f56036 0,#f5365c 100%)!important;
}

.decoracionTitulo{
    border-bottom: 0.6px solid #afc1d7fa!important;
}

.pl-6{
    padding-left: 25px;
}

.bordeCard{
box-shadow: 0 10px 25px 0 rgba(216, 216, 216, 0.3);
}